* {
    margin: 0px;
    text-decoration: none;
    padding: 0px;
    font-family: roboto;
    list-style: none;
    /* overflow-x: hidden; */
}

.top {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    background-color: #8a7350;
    color: white;
    height: 45px;
}

.top p {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* text-align:center; */
}

.navDiv {
    display: flex;
    flex-shrink: 1;
    background-color: #181818;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.puma {
    width: 35px;
    margin-left: -95px;
}

.rightSection {
    display: flex;
    margin-right: -90px;
}

.rightSection img {
    margin: 10px;
}

.links {
    display: flex;
    margin-left: -230px;
}

.links a {
    color: white;
    /* margin: 10px; */
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.avatar {
    width: 30px;
}

.cart {
    width: 30px;
}

.wishlist {
    width: 30px;
}

.search {
    display: flex;
}

.search input {
    margin-right: -80px;
    height: 40px;
    width: 180px;
    border-color: #71675d;
    border-style: solid;
    background-color: #181818;
    color: #71675d;
}

.offer {
    display: flex;
    justify-content: center;
    background-image: url(images/banner/ffeb478521dae2d49a1991f869652fe80cdab340-1440x350.webp);
    height: 108px;
    margin: 30px;

}

.offer p {
    color: #808080;
    font-family: Roboto;
}

.extra {
    font-weight: bold;
}

.order {
    font-weight: bold;
    margin-left: -18px;
}

.discount {
    margin-left: -55px;
}

.offer div {
    margin-top: 20px;
}

.secndBanner {
    background-image: url(https://i.ytimg.com/vi/sR75HqVVl9g/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    margin-left: 1000px;
}

.content h1 {
    font-weight: bolder;
    font-size: 48px;
}

.butt {
    display: flex;
    margin-left: 1000px;
}

.content span {
    margin-left: -25px;
}

.men {
    font-weight: 500;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-right: 40px;
    width: 60px;
    text-align: center;
    /* height: 30px; */
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.women {
    font-weight: 500;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-right: 40px;
    width: 90px;
    text-align: center;
    /* height: 30px; */
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.kids {
    font-weight: 500;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-right: 40px;
    width: 60px;
    text-align: center;
    /* height: 30px; */
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.topTrend {
    display: flex;
    flex-shrink: 1;
    margin: 30px 20PX;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.whiteShoe {
    width: 400px;
    height: 400px;
}

.descRate {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.desc {
    font-weight: bold;
}

.descRate span {
    margin-left: 120px;
}

.rate {
    margin-left: 120px;
}

.main {
    display: flex;
    margin-left: 69px;
}

.main a {
    color: black;
}

.roundImages {
    display: flex;
}

.roundImg {
    display: flex;
    justify-content: center;
}

.roundImg {
    display: flex;
}

footer {
    background-color: black;
    height: 450px;
    color: white;
}

.footerCon {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.Supp {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Supp h4 {
    padding-bottom: 20px;
}

select {
    width: 463px;
    height: 57.6px;
    background-color: black;
    color: white;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

li {
    line-height: 40px;
}

hr {
    margin-bottom: 30px;
}

.hrr {
    color: #6c6c6c;
    margin-top: 60px;
}

.pumadiv {
    display: flex;
    justify-content: center;
}

.copyright {
    display: flex;
}
.gymWear{
    margin-left: 210px;
}
.pumaRx{
    margin-left: 270px;
}
@media screen and (max-width: 844px) {
    .navDiv {
        width: 390px;
        /* display: flex; */
        justify-content: space-evenly;
    }
    .links{
        display: none;
    }

    .links {}

    .top {
        width: 390px;
        text-align: center;
    }

    .secndBanner {
        width: 390px;
        background-size: contain;
        /* background-size:; */
        /* width: 390px; */
    }
    .content h1{
        margin-top: -90px;
        margin-left: -611px;
        font-size: 30px;
        /* color: #edf6f9; */
    }
    .butt{
        margin-left: 25px;
        /* margin-top: -50px; */

    }
    .topTrend{
        margin-top: -267px;
    }
    .main{
        flex-direction: column;
        margin-left: 0px;
    }
    .container{
        margin-left: 0px;
    }
    .rate{
        margin-left: 70px;
    }
    .desc{
        margin-left: 5px;
    }
    .search{
        display: none;
    }
    .puma{
        margin-left: -px;
    }
    footer{
        height: 750px;
    }
    .footerCon{
        flex-direction: column;
    }
    select{
        width: 300px;
    }
    select option{
        width: 300px;
        overflow: hidden;
    }
    .gymWear{
        margin-left: 190px;
    }
    .pumaRx{
        margin-left: 250px;
    }
}