*{
    margin: 0px;
    text-decoration: none;
    padding: 0px;
}
.top{
    display: flex;
    justify-content: center;
    background-color: #8a7350;
    color: white;
    height: 45px;
}
.top p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* text-align:center; */
}
.navDiv{
    display: flex;
    background-color: #181818;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
}
.puma{
    width: 35px;
    margin-left: -95px;
}
.rightSection{
    display: flex;
    margin-right: -90px;
}
.rightSection img{
    margin: 10px;
}
.links{
    display: flex;
    margin-left: -230px;
}
.links a{
    color: white;
    /* margin: 10px; */
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.avatar{
    width: 30px;
}
.cart{
    width: 30px;
}
.wishlist{
    width: 30px;
}
.search{
    display: flex;
}
.search input{
    margin-right: -80px;
    height: 40px;
    width: 180px;
    border-color: #71675d;
    border-style: solid;
    background-color: #181818;
    color: #71675d;
}
